#enTete {
	background-color: rgba(111, 207, 151, 0.42);
	margin-left: opx;
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
}

#enTete img {
	width: 250px;
	display: inline;
}

#colAlerte {
	margin-top:100px;
	display: flex;
	justify-content: space-around;
	border-radius: 5%;
}

#conteneur {
/* 	display: flex; */
	justify-content: space-around;
	background-color: rgba(122, 173, 221, 0.25);
	margin-top: 3px;
	margin-bottom: 0px;
	display: inline-block;
	vertical-align: middle;
	float: none;
	width: 100%;
	height: 100%;
	flex: content;
	padding: 0;
	min-height: 100vh;
	display: inline-block-block;
}
#cadreCentre {
	margin-left:650px;
	margin-top:20px;
	width: 350px;
	display:inline-block;
}