#enTete {
	background-color: rgba(111, 207, 151, 0.42);
	margin-left: opx;
	margin-top: 0px;
	margin-bottom: 3px;
	display: flex;
}
#enTete img {
	width: 250px;
	display: inline;
}

.rechercheDiv {
	background-color: #d3f0f2;
}

.rechercheFiltresDiv {
	background-color: #d3f0f2;
	margin-top: 3px;
	padding: 5px 20px;
}

.rechercheFiltresDiv div {
	padding: 0 6px 0 6px;
    margin: 0 8px;
}

.table {
	margin-top: 3px;
	background-color:#d4e3f3;
	margin-bottom: 20px;
}

.table td {
	border: 0 !important;
}

.table tr {
	transition: 0.2s;
}

.table tr:nth-child(2n + 2) {
	background: #ffffff40;
}

.table tr:nth-child(2n + 3) {
	background: #ffffff60;
}

.table tr:nth-child(n + 2):hover {
    background: #ffffff99;
    _border-top: 1px solid grey;
    _border-bottom: 1px solid grey;
}

.dropdown-kebab-pf>.btn.btn-link.dropdown-toggle {
	_padding: 2px 8px;
}

/* Message quand tableau vide */
.center {
	text-align: center;
    margin: 10px;
}