#enTete {
	background-color: rgba(111, 207, 151, 0.42);
	margin-left: opx;
	margin-top: 0px;
	margin-bottom: 3px;
	display: flex;
}

#enTete img {
	width: 250px;
	display: inline;
}

#photo {
	align-items: center;
	background-color: rgba(122, 173, 221, 0.25);
	margin-bottom: 3px;
	padding: 8px
}

#photo img {
	border-radius: 50%;
	align-items: center;
	display: flex;
	padding: 15px;
    margin: auto;
}

#donneesperso {
	background-color: rgba(122, 173, 221, 0.25);
	align-items: center;
}

#identifiants {
	background-color: rgba(122, 173, 221, 0.25);
	align-items: center;
}

#champsgroupes {
	max-width: 425px;
    margin: auto;
    padding: 14px;
}

.date {
	margin-bottom: 15px;
}

#fileimport{
	margin-left:40%;
}
#separator{
	margin-bottom: 5%;
}