
#enTete {
	background-color: rgba(111, 207, 151, 0.42);
	margin-left: 0px;
	margin-top: 0px;
	display: flex;
}

#enTete img {
	width: 250px;
	display: inline;
}

#conteneur {
	display: flex;
	margin-top: 5px;
	width: 100%;
}

.col {
	min-width: 270px;
	
	margin: 3px;
	margin-top: 0;
	padding: 2px 13px;
	
	position: relative;
}

#colGauche {
	background-color: rgba(122, 173, 221, 0.25);
	max-width: 270px;
}

#colCentre {
	flex-grow: 1;
	background-color: rgba(252, 197, 240, 0.5);
}

#colDroite {
	background-color: rgba(122, 173, 221, 0.25);
    width: 230px;
    display: flex;
    align-content: center
}

#colDroite img {
	max-width: 200px;
}

#colGauche cursus {
	padding: 2px 13px;
}

#colGauche h5 {
	padding: 1px 10px;
}

#msgs {
	aligh-items:center;
	margin-left: 25%;
	margin-top: 10%;
}

#formulaire{
	margin-left: 50%;
	flex-direction: row;
	flex-wrap: nowrap;
	vertical-align: middle;
}

.cursus {
    overflow-y: scroll;
    position: absolute;
    max-height: 100%;
    bottom: 0;
    top: 55px;
    right: 5px;
    left: 10px;
}

.cursus article img {
	max-width: 100%;
    object-fit: cover;
}

.cursus article {
	background-color: rgba(122, 173, 221, 0.25);
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.cursus article>* {
    margin: 5px auto;
}

.imageCrop {
	display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin: 5px 8px;
}

.bonneReception {
	background-color: rgba(122, 173, 221, 0.25);
    border-radius: 50%;
    margin: auto;
    padding: 0;
    width: 230px;
    height: 230px;
    text-align: center;
    justify-content: center;
    box-shadow: inset 0 0 21px -5px rgba(0,0,0,0.25);
    font-size: 18px;
    color: #235877;
}

.bonneReception label {
	margin-top: 20px;
}

.bonneReception img {
	width: 57%;
	margin: auto;
}