<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h:body>

	<ui:composition template="/template.xhtml">

		<ui:define name="head">
			<title>#{navigationBean.websiteTitle} | Gestion des
				intervenants</title>

			<!-- Accès restreint -->
			<f:metadata>
				<f:viewAction action="#{listeIntervenantsBean.checkAccess()}" />
			</f:metadata>
			
			<link rel="stylesheet" type="text/css" href="css/listeStagiaires.css" />
			<link rel="stylesheet" type="text/css" href="css/listeCandidature.css" />
		</ui:define>

		<ui:define name="content">
			<div id="enTete">
				<img src="images/cursus/logo-afc-coul-transp.png" alt="image" />
				<h2>Gestion des intervenants</h2>
			</div>
			<h:form>
				<div class="rechercheDiv">
					<span><b:iconAwesome value="search"></b:iconAwesome></span>
					<h:inputText value="#{listeIntervenantsBean.champs}" />

					<h:commandButton action="#{listeIntervenantsBean.rechercher()}"
						value="Rechercher" styleClass="boutonSpecial">
						<f:ajax execute="@form" render="@form" />
					</h:commandButton>
				</div>

				<table class="table">
					<tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Téléphone</th>
						<th>Login</th>
						<th>Mot de passe</th>
						<th></th>
					</tr>
					<ui:repeat var="intervenant" varStatus="it"
						value="#{listeIntervenantsBean.listeIntervenants}">
						<tr>
							<td style="flex-grow: 1;"><b:commandLink
									action="#{mbEditionUtilisateur.afficher(intervenant)}">
								#{intervenant.coordonnees.nom}
							</b:commandLink></td>
							<td><b:commandLink
									action="#{mbEditionUtilisateur.afficher(intervenant)}">
								#{intervenant.coordonnees.prenom}
							</b:commandLink></td>
							<td style="flex-grow: 1;"><b:commandLink
									action="#{mbEditionUtilisateur.afficher(intervenant)}">
								#{intervenant.coordonnees.telephone}
							</b:commandLink></td>
							<td style="flex-grow: 1;"><b:commandLink
									action="#{mbEditionUtilisateur.afficher(intervenant)}">
								#{intervenant.login}
							</b:commandLink></td>
<!-- 							<td style="flex-grow: 1;"><b:commandLink -->
<!-- 									action="#{mbEditionUtilisateur.afficher(intervenant)}"> -->
<!-- 								#{intervenant.password} -->
<!-- 							</b:commandLink></td> -->
							<td style="flex-grow: 1;" class="pwd-td">
								<input id="pwdInput#{it.index}" readonly="readonly" type="password" value="#{intervenant.password}" class="hiddenInput" />
								<b:commandLink icon-awesome="eye" onclick="showPwd(#{it.index})" update="@form" />
								
							</td>
							<td><b:kebab content-disabled="false" id="kebabId">
									<b:listLinks>

										<b:navCommandLink value="Modifier"
											action="#{mbEditionUtilisateur.afficher(intervenant)}" />
										<b:navLink></b:navLink>
										<!--         						TODO : Archiver -->
										<b:navLink value="Archiver" href="#" icon-awesome="trash"></b:navLink>
									</b:listLinks>
								</b:kebab></td>
						</tr>
					</ui:repeat>
				</table>
			</h:form>
			<script type="text/javascript">
function showPwd(idx) {
	let e = document.getElementById("pwdInput" + idx);
	e.type = (e.type == "text") ? "password" : "text";
}
			</script>
			
		</ui:define>

	</ui:composition>

</h:body>
</html>
