<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

<h:body>

	<ui:composition template="/template.xhtml">
		<ui:define name="head">
			<title>#{navigationBean.websiteTitle} | Gestion des cursus</title>
			<link rel="stylesheet" type="text/css" href="css/listeCursus.css" />
			
			<!-- Accès restreint -->
			<f:metadata>
			    <f:viewAction action="#{listeCursusBean.checkAccess()}" />
			</f:metadata>
			
			<link rel="stylesheet" type="text/css" href="css/listeCandidature.css" />
		</ui:define>
		
		<ui:define name="content">
			<div id="enTete">
				<img src="images/cursus/logo-afc-coul-transp.png" alt="image" />
				<h2>Gestion des cursus</h2>
			</div>
			<h:form>
				<div class="rechercheDiv">
					<span><b:iconAwesome value="search"></b:iconAwesome></span>
					<h:inputText value="#{listeCursusBean.champs}" />
			
					<h:commandButton action="#{listeCursusBean.rechercher()}" value="Rechercher" 
						styleClass="boutonSpecial">
			    		<f:ajax execute="@form" render="@form" />
					</h:commandButton>
				</div>
				
				<table class="table">
					<tr>
						<th>Cursus</th>
						<th>Code</th>
						<th></th>
					</tr>
					<ui:repeat var="cursus" value="#{listeCursusBean.listeCursus}">
						<tr>
							<td style="flex-grow: 1;">
								<b:commandLink action="#{editionCursusBean.afficher(cursus)}" >
									#{cursus.nom}
								</b:commandLink>
							</td>						
							<td>
								<b:commandLink action="#{editionCursusBean.afficher(cursus)}">
									#{cursus.code}
								</b:commandLink>
							</td>
							<td>
								<b:kebab content-disabled="false" id="kebabId">
							      <b:listLinks>
							        <b:navCommandLink value="Modifier" action="#{editionCursusBean.afficher(cursus)}" />
							        <b:navCommandLink value="Créer promotion" action="#{listeCursusBean.setCursusDeploy(cursus)}"
							        	 oncomplete="showDeploiement()" update="@form"/>
	        						<b:navLink></b:navLink>
	<!--         						TODO : archiver -->
							        <b:navLink value="Archiver" href="#" icon-awesome="trash"></b:navLink>
							      </b:listLinks>
							    </b:kebab>
							</td>
						</tr>
					</ui:repeat>
				</table>
				
				<div class="floatpop">
					<h:panelGroup id="deploiement" class="floatpop-group">
						<h5>Créer une promotion pour le cursus #{listeCursusBean.cursusDeploy.nom}</h5>
						<b>Numéro de promotion</b>
						<b:inputText type="number" value="#{listeCursusBean.numeroPromoDeploy}" />
						<b>Date de début</b>
						<b:dateTimePicker show-time="false" value="#{listeCursusBean.dateDeploy}"></b:dateTimePicker>
						
						
						<div style="display: flex; justify-content: center">
							<b:commandButton value="Déployer" style= "background-color: rgba(111, 207, 151, 0.42);" action="#{listeCursusBean.deployer()}" update="@form">
							</b:commandButton>
						</div>
						<h:outputText value="#{listeCursusBean.messageErreurDeploy}" />
					</h:panelGroup>
				</div>
			</h:form>
		
			<script>

			function showDeploiement() {
				let e = document.getElementsByClassName("floatpop");
	
				if (e[0] != null) {
					e[0].style.right = 0;
					e[0].style.zIndex = 1200;
				}
	
				let cover = document.createElement("div");
				document.body.appendChild(cover);
				cover.style.position = "fixed";
				cover.style.left = 0;
				cover.style.right = 0;
				cover.style.top = 0;
				cover.style.bottom = 0;
				cover.style.background = "white";
				cover.style.opacity = 0.4;
				cover.style.zIndex = 1199;
	
				cover.onclick = function() {
					document.body.removeChild(cover);
					e[0].style.right = "-320px";
				}
			}

			</script>
		
		
		</ui:define>

	</ui:composition>

</h:body>
</html>
