<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">

<h:body>

	<ui:composition template="/template.xhtml">

		<ui:define name="head">
			<title>#{navigationBean.websiteTitle} | Mon compte</title>

			<!-- Accès restreint -->
			<f:metadata>
				<f:viewAction action="#{mbMonCompte.checkAccess()}" />
			</f:metadata>

			<link rel="stylesheet" type="text/css" href="css/monCompte.css" />
		</ui:define>

		<ui:define name="content">
			<div id="enTete">
				<img src="images/cursus/logo-afc-coul-transp.png" alt="image" />
				<h2>Mon compte</h2>
			</div>

			<b:form enctype="multipart/form-data" id="photo">
				<div id="photo">
					<div>
						<img class="resize"
							src="#{mbConnect.utilisateur.coordonnees.photo}" alt="image" />
						<br />
						<div id="fileimport">
							<h:inputFile value="#{mbImport.fichier}">
								<f:ajax listener="#{mbImport.sauvegarder()}" execute="photo"
									render="photo loginForm" />

							</h:inputFile>
						</div>
					</div>
				</div>
			</b:form>

			<b:form id="donneesperso">
				<div id="champsgroupes">
<!-- 					<b:panelGrid id="grid" cellpadding="6" columns="2" -->
<!-- 						style="margin-bottom:10px"> -->
						
						<f:facet name="header">
							<p:messages id="msgs2" />
						</f:facet>
													
						<p:outputLabel value="Genre :" labelStyle="width:80px;"
							style="font-size:small;" />
						<b:selectOneMenu readonly="#{!mbConnect.isAdministration()}"
							value="#{mbMonCompte.coordonnees.civilite}">
							<f:selectItems var="civilite" value="#{mbMonCompte.civilites}"
								itemValue="#{civilite}" itemLabel="#{civilite.libelle}"></f:selectItems>
							<f:selectItem itemValue="#{mbMonCompte.coordonnees.civilite}"
								itemLabel="#{mbMonCompte.coordonnees.civilite.libelle}"></f:selectItem>
						</b:selectOneMenu>

						<p:outputLabel value="Nom :" labelStyle="width:80px;"
							style="font-size:small;" />
						<b:inputText readonly="#{!mbConnect.isAdministration()}" 
							fieldSize="sm" placeholder="Entrer ici votre nom..."
							id="nom" value="#{mbConnect.utilisateur.coordonnees.nom}" />

						<p:outputLabel value="Prénom :" labelStyle="width:80px;"
							style="font-size:small;" />
						<b:inputText readonly="#{!mbConnect.isAdministration()}" fieldSize="sm"
							placeholder="Entrer ici votre prénom..." id="prenom"
							value="#{mbConnect.utilisateur.coordonnees.prenom}" />

						<p:outputLabel value="Date de naissance :"
							labelStyle="width:80px;" style="font-size:small;" />
						<b:dateTimePicker
							value="#{mbConnect.utilisateur.coordonnees.dateNaissance}"
							show-date="true" show-time="false" show-icon="true"
							readonly="true" />



											<p:outputLabel value="Adresse :" labelStyle="width:80px;"
												style="font-size:small;" />
											<b:inputText fieldSize="sm"
												placeholder="Entrer ici votre adresse..." id="adresse"
												value="#{mbConnect.utilisateur.coordonnees.adresse.adresse}" />


											<p:outputLabel value="Code postal :" labelStyle="width:80px;"
												style="font-size:small;" />
											<b:inputText fieldSize="sm"
												placeholder="Entrer ici votre code postal..." id="codePostal"
												value="#{mbConnect.utilisateur.coordonnees.adresse.codePostal}" />

											<p:outputLabel value="Ville :" labelStyle="width:80px;"
												style="font-size:small;" />
											<b:inputText fieldSize="sm"
												placeholder="Entrer ici votre ville..." id="ville"
												value="#{mbConnect.utilisateur.coordonnees.adresse.ville}" />


											<p:outputLabel value="Pays :" labelStyle="width:80px;"
												style="font-size:small;" />
											<b:inputText fieldSize="sm"
												placeholder="Entrer ici votre pays..." id="pays"
												value="#{mbConnect.utilisateur.coordonnees.adresse.pays}" />


											<p:outputLabel value="E-mail :" labelStyle="width:80px;"
												style="font-size:small;" />
											<b:inputText fieldSize="sm"
												placeholder="Entrer ici votre e-mail..." id="email"
												value="#{mbConnect.utilisateur.coordonnees.email}" />

											<p:outputLabel value="Téléphone :" labelStyle="width:80px;"
												style="font-size:small;" />
											<b:inputText fieldSize="sm"
												placeholder="Entrer ici votre numéro de téléphone..."
												id="telephone"
												value="#{mbConnect.utilisateur.coordonnees.telephone}" />



					<div class="centerButtons">
						<h:commandButton ajax="true" action="#{mbMonCompte.enregistrer()}"
							value="Enregistrer" execute="donneesperso"
							update="donneesperso loginForm"
							styleClass="boutonSpecial"/>
						<h:commandButton ajax="true" action="#{mbMonCompte.annuler()}"
							type="submit" value="Annuler"
							styleClass="boutonGris" />
					</div>
					
					<div class="centerButtons">
						<h:commandButton action="#{mbMonCompte.boutonDemo()}"
							value="Démo" update="@form"
							styleClass="boutonGris"/>
					</div>
				</div>
			</b:form>

		</ui:define>

	</ui:composition>

</h:body>
</html>
